[bumpversion]
current_version = 3.3.0rc1
commit = False
tag = False
parse = (?P<major>\d+)\.(?P<minor>\d+)\.(?P<patch>\d+)((?P<release>[a-z]+)(?P<build>\d+))?
serialize =
    {major}.{minor}.{patch}{release}{build}
    {major}.{minor}.{patch}

[bumpversion:file:src/graphql/version.py]
search = version = "{current_version}"
replace = version = "{new_version}"

[bumpversion:file:docs/conf.py]
search = version = release = "{current_version}"
replace = version = release = "{new_version}"

[bumpversion:file:README.md]
search = {current_version} of GraphQL-core
replace = {new_version} of GraphQL-core

[bumpversion:file:pyproject.toml]
search = version = "{current_version}"
replace = version = "{new_version}"
