[bumpversion]
current_version = 1.0.4
commit = False
tag = False

[bumpversion:file:graphql/__init__.py]
search = __version__ = "{current_version}"
replace = __version__ = "{new_version}"

[bumpversion:file:docs/conf.py]
search = version = release = u'{current_version}'
replace = version = release = u'{new_version}'

[bumpversion:file:README.md]
search = The current version {current_version}
replace = The current version {new_version}

[bumpversion:file:pyproject.toml]
search = version = "{current_version}"
replace = version = "{new_version}"

