[run]
branch = True
source = src
omit =
    */cached_property.py
    */is_collection.py

[report]
exclude_lines =
    pragma: no cover
    pragma: false coverage
    raise NotImplementedError
    raise TypeError\(f?"Unexpected
    if TYPE_CHECKING:
    ^\s+...$
    ^\s+pass$
ignore_errors = True
