[run]
branch = True
source = src
omit =
    */conftest.py
    */cached_property.py
    */is_collection.py
    */test_*_fuzz.py

[report]
exclude_lines =
    pragma: no cover
    except ImportError:
    \# Python <
    raise NotImplementedError
    raise TypeError\(f?"Unexpected
    assert False,
    \s+next\($
    if MYPY:
    if TYPE_CHECKING:
    ^\s+\.\.\.$
    ^\s+pass$
ignore_errors = True
