
.cache
.coverage
.env
.env.bak
.idea
.mypy_cache
.pytest_cache
.tox
.venv
.venv.bak
.vs

build
dist
docs/_build
pip-wheel-metadata
wheels

play

__pycache__

*.cover
*.egg
*.egg-info
*.log
*.py[cod]
