language: python
matrix:
  include:
  - name: Code quality tests
    env: TOXENV=black,flake8,mypy,docs
    python: 3.7
    dist: xenial
    sudo: true
  - name: Unit tests with Python 3.7
    env: TOXENV=py37
    python: 3.7
    dist: xenial
    sudo: true
  - name: Unit tests with Python 3.6
    env: TOXENV=py36
    python: 3.6
cache:
  directories:
  - "$HOME/.cache/pip"
  - "$TRAVIS_BUILD_DIR/.tox"
install:
- pip install "poetry>=0.12.16"
- poetry install
script:
- tox -e $TOXENV -- --cov-report term-missing --cov=src
after_success:
- codecov
deploy:
  provider: pypi
  distributions: sdist bdist_wheel
  on:
    branch: master
    tags: true
    python: 3.7
  skip_existing: true
  user: "mvanlonden"
  password:
    secure: "gnTMabXJiBedFJFHVgzEY3MCPTyoIGEPFzSy5Q7bKUL3wVgWQvFO+ecM1z7iDAZY7B/K9/fDOIu6v9Uhfa4ZgCB45uMyvJ15evX01LT/GTC2BRAF/TpVhOwo3zv30T9XI/OChtiUaK65nC7UUn9M0Ugx+AI9jWkgHufs+atkK4mwOJWdZjfVxv7qvv6zhF30k5Fj8beo8Q1WZH/OaVgAnoeW2gee46Fd4YIe1s3U2OAf9NCVJ0VN++LTRkhQRbtqqNr5eqgcBxpNp9j/OWAolK1dan0DInwgf0b1/W+lweUp9D60stUK9Aq1N/DLiMTviy0SOLs80m0oQpvxqfg8bIQUip3G8qv6mh15o1BAsuerpziygJUoDBJTPeQ3814uxtYz4vkFF0YsWqhgVqKbUeahqpJ53K//quNRtccg0u5ISUw/2xa9SQaFgx3uMG7JwA/aKM67oCI4ZbqH0EeELSLQpVR1xIXZJJ08cauRw715cY+nPvGfUzFCLqM/mXvXkiHOlZ++YFqPH9LewqojuioQVDmx7ZiZkbkULiNQ/ruiGOF1PQMGD7gIbt6hIo0MoifDeXcmaFoN+fkkny8gN6lMEShn1UzEFf1/+5aciYeXF1iFTjlBqWvrKCWlfDuS6Sc/K6GQZuokB/JJbrCV5gSfAWShWvjJPhZ+JO9tNz0="
