include LICENSE
include README.md
include Makefile
include Pipfile
include tox.ini

recursive-include graphql *
recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * .mypy_cache
recursive-exclude * *.py[co]

recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif
