include MANIFEST.in

include CODEOWNERS
include LICENSE
include README.md

include .bumpversion.cfg
include .coveragerc
include .editorconfig
include .flake8
include .mypy.ini
include .readthedocs.yaml

include tox.ini

include poetry.lock
include pyproject.toml

graft src/graphql
graft tests
recursive-include docs *.txt *.rst conf.py Makefile make.bat *.jpg *.png *.gif
prune docs/_build

global-exclude *.py[co] __pycache__
