[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
graphql-core-next = {path = ".",editable = true}
black = "*"
flake8 = "*"
mypy = "*"
pytest = "*"
pytest-describe = "*"
pytest-asyncio = "*"
tox = "*"
sphinx = "*"
sphinx_rtd_theme = "*"
python-coveralls = "*"
pytest-cov = ">=2.4,<2.6"
pyyaml = ">=4.0"

[pipenv]
allow_prereleases = true
