[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
graphql-core-next = {path = ".", editable = true}
flake8 = "*"
mypy = "*"
pytest = "*"
pytest-describe = "*"
pytest-asyncio = "*"
tox = "*"
sphinx = "*"
sphinx_rtd_theme = "*"
python-coveralls = "*"
pytest-cov = "*"
