[tool.poetry]
name = "graphql-core"
version = "3.1.2"
description = """
GraphQL-core is a Python port of GraphQL.js,
 the JavaScript reference implementation for GraphQL."""
license = "MIT"
authors = [
    "Christoph Zwerschke <cito@online.de>"
]
readme = "README.md"
homepage = "https://github.com/graphql-python/graphql-core"
repository = "https://github.com/graphql-python/graphql-core"
documentation = "https://graphql-core-3.readthedocs.io/"
keywords = ["graphql"]
classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Intended Audience :: Developers",
    "License :: OSI Approved :: MIT License",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.6",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8"
]
packages = [
    { include = "graphql", from = "src" },
    { include = "tests", format = "sdist" },
    { include = "docs", format = "sdist" },
]

[tool.poetry.dependencies]
python = "^3.6"

[tool.poetry.dev-dependencies]
pytest = "^5.4"
pytest-asyncio = ">=0.14,<1"
pytest-benchmark = "^3.2"
pytest-cov = "^2.10"
pytest-describe = "^1.0"
pytest-timeout = "^1.4"
black = "20.8b1"
flake8 = "^3.8"
mypy = "0.782"
codecov = "^2"
sphinx = "^3.2"
sphinx_rtd_theme = ">=0.5,<1"
check-manifest = "0.40"
bump2version = ">=1.0,<2"
tox = "^3.19"

[tool.black]
target-version = ['py36', 'py37', 'py38']

[build-system]
requires = ["poetry>=1,<2"]
build-backend = "poetry.masonry.api"
